@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;

.warehouse-item{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    @include divider;

    &__text{
        color: $instock-black;
    }

    &__label{
        @include table-header-font;
        @include label-padding;
        color: $slate ;

        @include tablet {
            display: none;
        }  
        &--image{
            display: none;
        } 
    }
    &:first-child{
        .warehouse-item__label{
            display: unset;
        }
    }
    &__icon-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__stat-block{
        width:50%;
        display: flex;
        flex-direction: column;
        padding-bottom: .625rem;

        &--margin{
            margin-left: 50%;
        }
        @include tablet {
            width: 22%;
        }

        &--icons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            @include tablet {
                width: 10%;
                flex-direction: column;
                justify-content: unset;
            }
        }
        
    }
    &__link{
        display: flex;
        color: $instock-black;
    }
    &__edit-icon{
        max-width: 24px;
    }

    &__title-container{
        display: flex;
    }

    &__status{
        border-radius: 20px;
        width: fit-content;
        @include buttonLabel-font;
        padding: 4px 8px ;

        &--instock{
            color: $green;
            text-align: center;
            background-color: rgba($color: $green, $alpha: 0.07);

        }
        &--outOfStock{
            text-align: center;
            color: $red;
            background-color: rgba($color: $red, $alpha: 0.07);
        }
    }
}