@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;


.item{
    display: flex;
    border-top: $cloud .0625rem solid;
    background-color: $white;
    align-items:baseline;
    justify-content: space-between;
    padding: 1rem 4rem;
    
    &__left{
        width: 40%;

        &-warehouse{
            display:flex;
            flex-direction: column;
            padding-bottom: .5rem;

            &__name{
                color: $instock-indigo;
            }
        }
        &-adress{
            display:flex;
            flex-direction: column;
            padding-top: .7rem;
            padding-bottom: .7rem;
            gap: .6rem;

        }
    }

    &__right{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-name{
            display:flex;
            flex-direction: column;
            padding-bottom: .5rem;
            gap: .6rem;

        }
        &-contact{
            display:flex;
            flex-direction: column;
            padding-top: .7rem;
            padding-bottom: .5rem;
            gap: .6rem;
        }
        &-update{
            align-self: flex-end;
        }

    }
}

.logo{
    width: 1.5rem;
    height: 1.5rem;
    padding-top: .85rem;
}
.headings{
    color: $slate;
    @include tablet{
        display: none;
    }
}
