@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;


.item {
    display: flex;
    border-top: $cloud .0625rem solid;
    background-color: $white;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 4rem;

    @include tablet {
        padding: 1rem;
        padding-left: 1.5rem;
        justify-content: left;
    }

    @include desktop {
        gap: 4rem;
    }

    &__icons2 {
        display: none;

        @include tablet {
            display: flex;
            gap: 1rem;
            margin-left: auto;
        }
    }

    &__icons-delete {
        @include tablet {
            display: none;
        }
    }

    &__left {
        width: 40%;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding: 0;
        }

        &-warehouse {
            display: flex;
            flex-direction: column;
            padding-bottom: .5rem;

            @include tablet {
                flex-direction: row;
                align-items: baseline;
                width: 50%;

            }

            &__name {
                color: $instock-indigo;
                display: flex;
                align-items: baseline;
                width: 50%;

            }
        }

        &-adress {
            display: flex;
            flex-direction: column;
            padding-top: .7rem;
            padding-bottom: .7rem;
            gap: .6rem;

            @include tablet {
                width: 47%;
                padding-right: .5rem;
            }

        }

    }

    &__right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding: 0;
        }

        &-name {
            display: flex;
            flex-direction: column;
            padding-bottom: .5rem;
            gap: .6rem;
            width: 50%;

            @include tablet {
                padding-left: .5rem;
            }

        }

        &-contact {
            text-wrap: nowrap;
            display: flex;
            flex-direction: column;
            padding-top: .7rem;
            padding-bottom: .5rem;
            gap: 0.3rem;

            @include tablet {
                padding-left: 1rem;
                width: 40%;
            }

            @include desktop {
                width: 40%;
            }
        }

        &-update {
            align-self: flex-end;

            @include tablet {
                display: none;
            }
        }
    }
    &:hover {
        background-color: $graphite;
        cursor: pointer;
    }
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
    padding-top: .85rem;
}

.headings {
    color: $slate;

    @include tablet {
        display: none;
    }
}