@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.inventories {
    padding: 1rem 1rem;
    width: 90%;
    margin: auto;
    background-color: $white;
    border-radius: 0;
    position: relative;
    top: -100px;

    &__header {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &__title {
        padding-left: 1rem;
    }

    &__form {
        display: flex;
        width: 100%;
        padding: 1rem 1rem;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
        }

        @include desktop {
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__input-container {
        position: relative;
        display: flex;
        padding-bottom: 1rem;

        @include tablet {
            width: 40%;
            padding: 0 1rem;
        }

        @include desktop {
            width: 35%;
            padding: 0 1rem;
        }
    }

    &__button {
        background-color: $instock-indigo;
        margin-bottom: 1rem;

        @include tablet {
            width: 40%;
            padding: 0 1rem;
        }

        @include desktop {
            width: 22%;
            padding: 0 1rem;
        }
    }

    &__sections {
        display: none;
        background-color: $light-grey;

        @include tablet {
            display: flex;
            justify-content: space-evenly;
        }

        @include desktop {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.inventories-sections__mobile {
    display: flex;
    flex-direction: column;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.inventories-sections__tablet-desktop {
    display: none;

    @include tablet {
        padding: 0.5rem;
        display: flex;
    }

    @include desktop {
        display: flex;
        padding: 0.5rem;
    }
}

.inventories-sections__left {
    @include tablet {
        padding-right: 5rem;
        width: 50%;
    }

    @include desktop {
        padding-right: 5rem;
        width: 50%;
    }
}

.inventories-sections__right-top {
    display: flex;
}

.inventories-sections__status {
    padding-right: 9rem;
}