@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.edit-warehouse{
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1rem;
    @include divider;

    @include tablet {
        width:50%;
        border: none;
        border-right: $cloud .1rem solid;

    }
    &__heading{
        @include section-header-padding;
        @include subheader-font;
        padding-top: 0;
    }
    &__label{
        @include label-padding;
        @include buttonLabel-font;
    }

    &__input{
        height:2.25rem;
        width: 100%;
        border-radius: 1.25rem;
        padding: 0 1rem;
        border: none;
        border:1px solid $cloud;

        @include tablet {
            height: 2.375rem;
        }
        &::placeholder {
          color:  $instock-black;
          font-family: 'Titillium';
        }
    }
}