@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;

.main-section{
    @include section-padding;
    position: relative;
    bottom: 100px;
}

.main-section-form{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px $cloud ;
    
    &__input-container{
        
        border-radius: 0 0 .25rem .25rem;
        background-color: $white;
        @include tablet {
            display: flex;
        }
        
    }
    &__button-container{
        box-shadow: 1px 1px 5px $cloud ;
        background-color: $light-grey;
        padding: 1rem;
        border-radius: 0 0 .25rem .25rem;
        display: flex;
        justify-content: space-between;
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }

        .button{
            width:48%;
            @include tablet {
                width: fit-content;
                
            }
        }
        .button-alt{
            width: 100%;
            @include tablet {
                width: fit-content;
                margin-right: 1rem;
            }
        }
        .form__link{
            width:48%;
        } 
        
    }
}