// Colors

//Primary colors
$instock-black: #13182c; // - Global text color
$instock-indigo: #2e66e5; // - Interactive elements
$white: #ffffff; // - Global white color

//Secondary colors
$slate: #5c667e; // - Table column headers & placeholder text
$cloud: #bdc5d5; // - Outlines, dividers, borders, table sorting icon

//Background colors
$graphite: #232940; // - Top navigation header background, CTA button hover state background
$light-grey: #f7f8f9; // - Page background, table column header background, CTA background

//Supporting colors
$green: #158463; // - "In stock" label
$red: #c94515; // - "Out of stock" label, error states & delete icon