@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin regular {
    font-family: "Titillium";
    font-weight: 400;
    font-style: normal;
}

@mixin bold {
    font-family: "Titillium";
    font-weight: 600;
    font-style: normal;
}


