@use "./colors" as *;
@use "./mixin" as *;
@use "./variables" as *;


@font-face {
    font-family: "Titillium";
    src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Titillium Bold";
    src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
    font-weight: 600;
    font-style: normal;
}

// headings

// page header
h1 {
    font-family: "Titillium Bold";
    font-size: 1.75rem;
    line-height: 2.25rem;
}

// subheader
h2 {
    font-family: "Titillium Bold";
    font-size: 1.25rem;
    line-height: 1.75rem;
}

// labels, links & buttons
h3 {
    font-family: "Titillium Bold";
    font-size: 0.813rem;
    line-height: 1.25rem;
}

// table header
h4 {
    font-family: "Titillium Bold";
    font-size: 0.688rem;
    line-height: 1rem;
    // color: $slate;
}