@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/colors' as *;


.inventorylist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: stretch;
    height: 10rem;
    top: 7rem;
    margin: 0 1.0625rem;
    border-radius: .25rem;
    background: white;
    box-shadow: 0 .125rem .3125rem rgba(19, 24, 44, 0.1);
    
    &-header{
        position: relative;
        right: 6rem;
    }
    
    &-searchbox{
        width: 80vw;
        height: 5vh;
        border-color: 1px solid $cloud;
        border-radius: 50px;
        padding-left: 1rem;
        position: relative;
        top: 1rem;
    }
    &-searchicon{
        position: relative;
        left: 7rem;
        bottom: 0.8rem;
        
    }
    &-add{
        position: relative;
        width: 80vw;
        height: 5vh;
        border: none;
        border-radius: 50px;
        background-color: $instock-indigo;
        color: $white;
    }
}
