@use '../../styles/partials/mixin' as * ;
@use '../../styles/partials/colors' as * ;
@use '../../styles/partials/variables' as * ;

.page-header {
    padding: 1rem;
    display: flex;
    background-color: $white;
    @include divider;
    

    &__heading{
        @include page-header-padding;
        @include page-header-font;
        width:80%;
    }
    &__img1{
        margin-right: 1rem;
    }
    &__img2-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: $instock-indigo;
        @include tablet {
            display: none;
        }
    }
    &__link{
        width:100%;
    }
    &__icon-container{
        min-width: 80px;
        width: 15%;
        display: flex;
        align-items: center;

        .button {
            display: none;

            @include tablet {
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
            @include desktop{
                width: 60%;
            }

        }
    }
}