@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation-header {
    background-color: $graphite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $mobile-margin;
    height: 15rem;

    @include tablet {
        flex-direction: row;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 14rem;
    }

    @include desktop {
        padding-left: 5rem;
        padding-right: 5rem;
        height: 11.875rem;
    }
    &__logo{
        position: relative;
        top: -50px;
    }
}

.navigation-header__container {
    width: 100%;
    display: flex;
    padding-top: $mobile-margin;

    @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0px;
        padding-right: 2rem;
        position: relative;
        top: -50px;
    }
}

.navigation-header__link {
    text-decoration: none;
    color: $cloud;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 1.25rem;

    @include tablet {
        min-width: 6.688rem;
        width: 10%;
        margin: 0;
    }
}

.navigation-header__link:hover {
    background-color: $instock-black;
    color: $white;
}