@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.footer {
    background-color: $light-grey;
    color: $slate;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 0.875rem;
}