@use '../src/styles/partials/colors' as *;
@use '../src/styles/partials/mixin' as *;
@use '../src/styles/partials/typography' as *;
@use '../src/styles/partials/variables' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Titillium';
}
body{
  background-color: $light-grey;
  position: relative;
}
p{
  @include body-medium-font;
}
